@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-neutral-900: #121212;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  cursor: none;
  overflow-x: hidden;
}

section {
  scroll-margin-top: 80px;
}

a,
button,
input,
textarea {
  cursor: none;
}